.colorinput{
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.colorinput-text{
  font-size: 2rem;
  padding-left: 10px;
}
 .color-block{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
 }
